@* This Razor view displays the details of a location in the Weather Forecast Application *@

@model WeatherForecastApplication.Models.Location

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Location</h4>
<hr />
<dl class="row">

    <!-- CityName-->
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CityName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CityName)
    </dd>

    <!-- ProvinceName -->
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProvinceName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProvinceName)
    </dd>

    <!-- CountryName-->
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CountryName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CountryName)
    </dd>
</dl>

<!-- Navigation link -->
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

<!-- Partial scripts for validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
