@model IEnumerable<WeatherForecastApplication.Models.Location>

@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.LocationID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
